.simple-player2 audio {
  position: fixed;
  width: 100%;
  z-index: 100;
}

audio:focus {
  outline: none;
}

.simple-player2 .transcript {
  padding: 5em 2em;
  font-family: 'IBM Plex Mono', source-code-pro, Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
  /* contain: paint; */
}

.simple-player2 em {
  display: block;
  padding: 5em 2em;
}

.simple-player2 .transcript p::before {
  content: attr(data-speaker);
  display: block;
  color: blue;
  font-size: 10px;
  font-weight: normal;
}

.simple-player2 .transcript p {
  contain: paint;
}
